.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  position: relative;
}

.threeRowLayout {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 40px);
  position: relative;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
}

.footerActive .threeRowLayout {
  min-height: calc(100vh - 90px) !important;
  border-bottom: 5px solid #ccc;
}

.leftView {
  width: 20%;
  /* border-right: 5px solid #DBD7D7; */
  background: #f6efef;
}

.centerView {
  width: 25%;
  border-right: 5px solid #ccc;
  padding: 10px;
}

.rightView {
  width: 55%;
  padding: 10px;
}

.schedule {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #f6efef, #cbc9c9);
  width: 100%;
}

.tabs {
  background: #d7d6d6;
  display: flex;
}

.tab {
  padding: 5px;
  border: 1px solid #ccc;
  /*margin-right: 5px;
  */
  background: #d3d2d2;
  margin-top: 5px;
  cursor: pointer;
}
.tab.active {
  background: #f6efef;
  padding: 8px;
  border-bottom: 0;
}

.selected-tab-container {
  margin: 5px;
  background: #d3d2d2;
  height: 100vh;
}
